<div class="row">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="tags" class="sr-only">Tag</label>
            <input type="text" class="form-control" id="tags" placeholder="Tag" [(ngModel)]="tag" name="tag">
        </div>
        <button type="button" class="btn btn-primary mb-2" (click)="getFeedContent()">Search</button>
    </form>
</div>


<div *ngIf="!feedContent && !errorMsg" class="text-center loading-img">
    <img src="assets/loading.gif">
</div>

<h2 class="title">{{feedContent?.title | decodeURIComponent }}</h2>

<div>
    <ul *ngFor="let item of feedContent?.items">
        <li>{{item?.title}}</li>
        <p>Date: {{item?.pubDate}}</p>
        <div [innerHTML]=item?.content></div>
    </ul>
</div>

<div *ngIf="errorMsg" class="alert alert-danger" role="alert">
    {{errorMsg}}
</div>