<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <img src="assets/flickr-logo-png-87651.png" class="img-fluid flickr-logo" alt="flickr logo">
        <h1 class="jumbotron-heading">Feed viewer</h1>
        <p class="lead text-muted">Reads data from Flickr's public feeds and displays the images.
            You can enter a keyword in the search box and click to see the images with the relevant tags.
        </p>
    </div>

    <div class="album py-5 bg-light fill">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>