<div class="jumbotron jumbotron-fluid">

    <div class="container">
        <h1 class="jumbotron-heading">Flickr feed viewer</h1>
        <p class="lead text-muted">Reads data from Flickr's public feeds and displays the images.
            You can enter a keyword in the search box and click to see the images with the relevant tags.
        </p>
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="tags" class="sr-only">Tags</label>
                <input type="text" class="form-control" id="tags" placeholder="Tags">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>